* { margin: 0; padding: 0 }
body { font: 12px "宋体", "Arial Narrow", helvetica;line-height: 1.5; background: #333; }
img { border: 0; vertical-align: middle }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1 { font: 24px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif }
p { word-wrap: break-word }
ul, ol { list-style: none; }
a { color: #a6a6a6; text-decoration: none; transition: All 1s ease; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -ms-transition: All 1s ease; -o-transition: All 1s ease; }
a:hover { color: #f00; }
/* -----------------------顶层----------------- */
header { width: 100%;background: #222; height: 70px; border-bottom: #222 2px solid; }
header nav { margin: 0 auto; width: 1000px; text-align: center; padding-top: 15px }
header nav ul li { line-height: 40px; display: inline }
header nav ul li a { color: #E7E7E7; display: block; padding: 0 58px; margin-right: 45px; float:left; }
header nav ul li a:hover{ color: #f00; background: rgba(20, 20, 20, 0.8); box-shadow: 5px 5px 5px rgba(255,255,255,.1), inset 5px 10px 10px rgba(0,0,0,.5); border-radius: 8px; }
#mainbody { width: 100%; border-top: #000 1px solid; clear: both; overflow: hidden; }
/* ---------------------下一层------------------------- */
.info { width: 1000px; margin: 40px auto; overflow: hidden; clear: both }
/* 图片向上翻转的动画效果 */
.info figure { display: inline-block; width: 630px; height: 250px; position: relative; -webkit-animation: pageTop 7s ease 0.1s backwards; -moz-animation: pageTop 7s ease 0.1s backwards; -ms-animation: pageTop 7s ease 0.1s backwards; -o-animation: pageTop 7s ease 0.1s backwards; animation: pageTop 7s ease 0.1s backwards; float: left; }
.info figcaption { padding: 10px; position: absolute; top: 30%; left: 0; background: rgba(0,0,0,.4); color: white; opacity: 0; -webkit-transition: opacity .75s ease-out; -moz-transition: opacity .75s ease-out; -o-transition: opacity .75s ease-out; transition: opacity .75s ease-out; }
.info figure:hover figcaption { opacity: 1; } /* 用opacity 设置鼠标放上去显示文字的效果 */
/*个人介绍 */
.jieshao { box-shadow: 10px 1px 10px rgba(255,255,255,.1), inset 5px 5px 5px rgba(22,24,35,.5); border-radius: 50px; background:  rgba(42,42,42,1); width: 350px; float: right; height: 300chidourenpx; overflow: hidden }
.jieshao h1 { padding: 15px;color: grey; }
.jieshao p { padding: 0 0 0 40px; line-height: 28px; text-shadow: 0px 10px 2px rgba(225,225,225,.2); color: #89919a; -webkit-animation: animations2 5s ease-in-out 5s; -moz-animation: animations2 5s ease-in-out 5s; -o-animation: animations2 5s ease-in-out 5s; -ms-animation: animations2 5s ease-in-out 5s; animation: animations2 5s ease-in-out 5s; }
.linkmore { margin: 15px 0 0 45px }
.linkmore li a { height: 50px; width: 50px; display: block; overflow: hidden; box-shadow: 1px 1px 0px rgba(166,166,166,.1), inset 2px 1px 1px rgba(0,0,0,.7); border-radius: 30%; float: left; margin:  3px; }
.linkmore li a:hover { opacity: 0.5; -webkit-transform: rotate(30deg); -ms-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); transform: rotate(30deg); }
.talk, .address, .email, .photos, .heart { background: url(002.jpg) no-repeat; }
.talk { background-position: 13px 18px }
.address { background-position: 12px -22px }
.email { background-position: 12px -60px }
.photos { background-position: 12px -137px }
.heart { background-position: 13px -99px }
/* --------------------博客列表-------------------- */
.blogs { width: 1000px; margin: 0 auto 20px; }
.bloglist { width: 666px; float: left; }
.bloglist>li { border-right: #111 3px solid; padding: 20px 0; }
.box { background: #222; box-shadow: 0px 3px 5px rgba(18,18,18,.2), inset 2px 2px 8px rgba(0,0,0,.7); width: 630px; color: #b9b9b9; border-radius: 9px; position: relative }
.chidouren {width: 0px;height: 0px;border-right: 10px solid transparent;border-top: 10px solid #111;border-left: 10px solid #111;border-bottom: 10px solid #111;border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  position: absolute; left: 632px; top: 15px; }/* 吃豆人 */
.yuan { width: 10px; height: 10px; border-radius: 50%; position: absolute; left: 658px; top: 16px; background: #000; border: 2px solid #333; } /* 圆形定义边框色与背景一致 */
.yuan:hover { border: 2px solid #f33; }
.box h2.title { padding: 0 0 0 20px; font: 20px/60px "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif }
.box h2 a:hover { padding-left: 50px }
.textinfo { overflow: hidden; }
.box img { width: 150px; padding: 4px; float: left; -webkit-transition: All 1s ease; -moz-transition: All 1s ease; -ms-transition: All 1s ease; -o-transition: All 1s ease; border-radius: 4px; margin: 0 20px 20px; }
.box img:hover { opacity: 0.6; }
.box p { line-height: 24px; padding: 0 20px 20px }
.box p:hover { text-shadow: 1px 1px 1px #f00; }

/*-------------------aside侧边栏--------------------------*/
aside { width: 310px; float: right; margin: 20px 0; }
aside h2, footer h2 { font-size: 16px; margin-bottom: 10px; text-shadow: #222 2px 2px 2px; color: #ccc }
aside div { box-shadow: 2px 2px 2px rgba(255,255,255,.1), inset 2px 2px 1px rgba(0,0,0,.7); border-radius: 10px; padding: 15px; background: #222; margin-bottom: 20px; overflow: hidden; }
.tuijian li, .clicks li { white-space: nowrap; text-overflow: ellipsis; overflow: hidden }
.tuijian li a:hover { padding-left: 10px }
.tuijian li span:before { content: "♂"; }/* 数字列表前面统一加♂  */
.tuijian li span { margin-right: 10px; font-size: 20px; font-family: "微软雅黑"; }
.tuijian li:nth-child(-n+3) span { width: 39px; color: #f8490b } /* 选择从第3个开始倒数也就是第三个前面的 */
.tuijian li:nth-child(-n+3) strong { font-size: 24px; font-weight: normal; }
.tuijian li:first-child span { color: #f00; } /* 选择第一个 */
.tuijian li:nth-child(n+3) { line-height: 24px } /* 选择从第3个开始往后数 */
.tuijian li:nth-child(4) { margin: 5px 0 0 0 } /* 选择第四个 */
/* 励志鸡汤 */
.toppic li img { width: 80px; float: left; margin-right: 10px; }
.toppic ul li:nth-child(2) { margin: 15px 0; }
.toppic ul li a { display: block; width: 100%; clear: both; overflow: hidden }
.toppic li p { color: #B5783E; padding-left: 110px; margin-top: 5px; background: url(../images/icons.png) no-repeat }
/* 毒鸡汤 */
.clicks li { line-height: 24px; }
.clicks li span:before { content: "【"; }
.clicks li span:after { content: "】"; }
.clicks li span a { padding: 0 5px; color: #456 }
.clicks li a:hover { text-decoration: underline }
/* music */
.music dl dd { color: #b9b9b9; line-height: 24px; }
.art { background: url(004.jpg) no-repeat left; width: 130px; float: left; background-size: 120px; }
.music .art img { width: 90px; height: 90px; margin-left: 11px }
.music dd span { width: 12px; height: 24px; margin-right: 7px; float: left; display: block; }
.icon-song span, .icon-artist span, .icon-album span, .icon-like span { background: url(002.jpg) no-repeat }
.icon-song span { background-position: -33px -344px }
.icon-artist span { background-position: -16px -344px }
.icon-album span { background-position: 0 -344px }
.music audio { width: 100%; padding-top: 10px }
/* --------------------------footer----------------------- */
footer { background:#1D1D1D; -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.55), inset 0 1px 0 rgba(255,255,255,0.09); -moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.55), inset 0 1px 0 rgba(255,255,255,0.09); box-shadow: 0 -1px 0 rgba(0,0,0,0.55), inset 0 1px 0 rgba(255,255,255,0.09); }
.footer-mid { width: 1000px; margin: auto; padding: 20px 0; overflow: hidden }
.links { float: left; margin: 0 100px 0 20px; }/* 友情链接 */


 @-webkit-keyframes pageTop { 0% {
opacity: 0;
-webkit-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-webkit-transform: perspective(400px) rotateX(0deg);
}
}
 @-moz-keyframes pageTop { 0% {
opacity: 0;
-moz-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-moz-transform: perspective(400px) rotateX(0deg);
}
}
 @-o-keyframes pageTop { 0% {
opacity: 0;
-o-transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
-o-transform: perspective(400px) rotateX(0deg);
}
}
 @keyframes pageTop { 0% {
opacity: 0;
transform: perspective(400px) rotateX(90deg);
}
 100% {
opacity: 1;
transform: perspective(400px) rotateX(0deg);
}
}
@keyframes starwars { 0% {
opacity: 0;
transform: perspective(200px) scale(3) translateY(180px) rotateX(80deg);
}
 80% {
opacity: 1;
transform: perspective(200px) scale(1) rotateX(60deg)
}
 100% {
opacity: 1;
transform: perspective(200px) scale(1) rotateX(0deg)
}
}

@-webkit-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-moz-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-o-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@-ms-keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}
@keyframes animations2 {  0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:0;
}
}

